.scroll-float {
    overflow: hidden;
    
}

.scroll-float-text {
    color: white;
    display: inline-block;
    font-size: clamp(1.4rem, 6vw, 8rem); /* Responsive size */
    text-align: center;
    line-height: 1.5;
    font-weight: 600; /* Now this will work */
}

.char {
    display: inline-block;
}